<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Create A new Campground</h1>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-4 col-md-offset-4">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="image" placeholder="Imag Url" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-success" />
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
    
</div>


<% include ../partials/footer %>